<div class="container-fluid d-flex flex-column justify-content-center align-items-center px-5 pb-5">
    <h2 class="pt-5 h2">List of Faculty Members</h2>
    <div *ngFor="let user of users;"
        class="d-flex justify-content-center container-fluid text-center card mb-5 mt-5 p-4 bg-dark text-light">

        <div class="card-body">
            <h4 class="card-title">Name:</h4>
            <p class="card-text mx-3">{{user.name}}</p>
        </div>

        <hr>

        <div class="card-body">
            <h4 class="card-title">Designation:</h4>
            <p class="card-text mx-3">{{user.designation}}</p>
        </div>

        <hr>

        <div class="card-body">
            <h4 class="card-title">Department:</h4>
            <p class="card-text mx-3">{{user.department}}</p>
        </div>

    </div>

</div>